body {
  background-color: black;
  padding-top: 130px;
}
.octodex {
  display: flex;
  border: solid 1px;
  justify-content: space-evenly;
  background-color: white;
  padding-top: 5px;
  padding-left: 0;
}
.octocat {
  flex: 1;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.octocat img{
  width: 100%;
  border-radius: 5px;
  border: solid 1px lightgray;

}
.authors img{
  width: 20px;
  height: 20px;
}
.image-footer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: solid lightgrey 1px;
  padding-bottom: 7px;
}
li {
  display: flex;
}
span {
  font-size: 16px;
  padding: 5px;
  color: gray;
  padding-top: 10px;
}
.image-caption {
  display: flex;
  align-items: center;
}
.authors {
  display: flex;
  padding: 0;
}
.image-number {
  display: flex;
  color: lightgrey;
}
.image-number::before{
  content: "#";
}
a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-top: 5px;
  font-family: sans-serif;
  font-size: 16px;
}


